#avatar-frame-section {
    border: 30px solid transparent;
    border-image: url("/src/images/avatar-images/avatar-frame.png") 33% round;
}

.avatar {
    display: flex;
    justify-content: center;
}