.user-page-container {
    display: flex;
    justify-content: center;
    padding: 5%
}

.user-settings {
    padding: 5%;
}

.fields {
    margin: 5%;
}

.avatar-img-picker {
    margin: 1%;
}

.avatar-position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}