#border {
    border: 30px solid transparent;
    border-image: url("/src/images/border.png") 15% stretch;
}

#border-background {
    background-color: #262626eb;
    color: yellow;
}

#c-yellow {
    color: yellow;
    text-shadow: 1px 1px black;
}