#M,
#V,
#PI {
    transition: transform 500ms;
    will-change: transform;
}

#M:hover,
#V:hover,
#PI:hover {
    transform: translateY(-10px);
}

.card-end {
    display: flex;
    justify-content: flex-end;
}

.buttons-info {
    display: flex;
    justify-content: space-around;
}

.about-game {
    background-color: white;
}

.register-form {
    display: flex;
    justify-content: center;
}

.register-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}