#M,
#V,
#PI {
    transition: transform 500ms;
    will-change: transform;
}

#M:hover,
#V:hover,
#PI:hover {
    transform: translateY(-10px);
}

#border {
    border: 50px solid transparent;
    border-image-repeat: repeat;
    border-image-slice: 30;
    border-image: url("/src/images/border.png") 20 round;
}

#borderIn {
    background-image: url("/src/images/border-in.png");
    background-size: cover;
    text-shadow: black 1px 1px;
}

.card-end {
    display: flex;
    justify-content: flex-end;
}

.buttons-info {
    display: flex;
    justify-content: space-around;
}

.about-game {
    background-color: white;
}

.register-form {
    display: flex;
    justify-content: center;
}